Checks:     '-*,
            cppcoreguidelines-*,
            performance-*,
            readability-*,
            portability-*,
            misc-*,
            modernize-*,
            bugprone-*,
            cert-*,
            clang-analyzer-*,
            llvm-*,
            -modernize-use-trailing-return-type,
            -llvm-namespace-comment,
            -misc-non-private-member-variables-in-classes'
AnalyzeTemporaryDtors: true
FormatStyle:     file
